body{
    font-family: 'Bebas Neue', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
}
header .bg-color{
    background-color: #FFFBF0;
}
.button-bg{
    background-color: #A4BC46;
    color: #FFFFFF;
    font-family: Calibri;
}
